<head>
  <style>
      html {
          font-family: sans-serif;
          text-align: justify;
          margin:0 10px;
          border: 1px black solid;
      }

      body{
          background: #f0f0f0;
      }

      .card h2 {
          font-size: 1.2em;
          line-height: 110%;
          padding: 5px;
          margin-bottom: 0;
      }

      .list a:link,a:visited,a:active,a:hover{
          text-decoration: none;
          color: black;
      }

      .card h1 {
          font-size: 1.2em;
          color: #ff7f00;
      }

      .meta .header {
          font-weight: normal;
          font-size: 1.2em;
          line-height: 110%;
          background: #ff7f00;
          color: white;
          border-bottom: 4px solid silver;
          padding: 5px;
          margin-bottom: 0;
      }

      .meta {
          margin-top: 10px;
          background: #d3d3d3;
      }

      .meta .meta_prop {
          display: inline-block;
          margin: 5px;
      }

      .meta .body {
          margin-top: 5px;
          line-height: 120%;
      }

      .card table {
          margin: 5px;
          border-collapse: collapse;
      }

      .card table, th, td {
          padding: 5px;
          border: 1px solid black;
      }
  </style>
  <!--[if lt IE 9]>
  <style type="text/css">
      .meta .meta_prop {
          display: inline;
          margin: 5px;
          zoom: 1;
      }
  </style>
  <![endif]-->

  <title>Discovery Mingle Cards</title>
</head>
<div class="list">
  <a name="top"><h2>Discovery Pass Manager</h2></a>
  <% cards.group_by(&:property).map do |k, grouped_cards| %>
      <h3><%= k %></h3>
      <% grouped_cards.each do |card| %>
          <div><a href="#<%= card.number %>">Story#<%= card.number %> : <%= card.name %></a></div>
      <% end %>
  <% end %>

</div>
<% cards.each do |card| %>
    <div class="card">
      <div class="meta">
        <a name="<%= card.number %>">
          <div class="header">Story#<%= card.number %> : <%= card.name %></div>
        </a>

        <div class="body">
          <div class="meta_prop"><b>Internal Systems Involved:</b> <%= card.property('Internal System(s) involved') %>
          </div>
          <div class="meta_prop"><b>Created On: </b><%= card.created_on.strftime("%b %e, %H:%M %Z") %>
            (<%= card.created_by['name'] %>)
          </div>
          <div class="meta_prop">
            <b>Last Modified by: </b><%= card.modified_on.strftime("%b %e, %H:%M %Z") %>
            (<%= card.modified_by['name'] %>)
          </div>
          <div class="meta_prop"><b>Played in Iteration :</b><%= card.property('Current Iteration') %></div>
        </div>
      </div>
      <%= card.description %>
    </div>
    <a href="#top">Back to Top</a>
<% end %>
